.medus {
    text-align: center;
    margin: auto;
    padding: 0px 0;

}

.blog_container {
    background-color: red;
}

.blog_title {
    color: yellow;
}

.login_nav {
    background-color: aquamarine;
}

.rounded {
    position: relative;
    /* top: -50%; */
    top: 0;
    left: auto;
    width: 20%;
    height: 20%;
    background-size: cover;
}
.aaaa {
    list-style-type: None;
}